extends ../home/layout.pug

append body
	if amount
		each game in games
			.box
				.pointer.cell-4.cell-m6.cell-s12.card(onclick=`jump('/game/${game._id}')`)
					.box
						.big.bold.cell-12 #{game.title}
	else
		.box
			.cell-4.cell-m6.cell-s12.card
				.box
					.cell-12.red.center 暂无游戏
	if number > 1
		.box
			.cell-4.cell-m6.cell-s12.card
				.box
					if page == 1
						.cell-3
					else
						button.button2.cell-3(onclick=`jump('/game/index/${page-1}')`) 上一页
					.cell-1
					select.select.center.cell-4(title='page' onchange=`jump('/game/index/'+(this.selectedIndex+1))`)
						- for (var i = 1; i < number + 1; i++)
							if i == page
								option(value = i selected = true) 第#{i}页
							else
								option(value = i) 第#{i}页
					.cell-1
					if page == number
						.cell-3
					else
						button.button2.cell-3(onclick=`jump('/game/index/${page+1}')`) 下一页